<%- include('partials/header') %>

<h1>Compose</h1>
<form action="/compose" method="post" class="form">
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title"><br>
    <label for="post">Post</label><br>
    <textarea name="post" id="post" cols="1" rows="5"></textarea><br>
    <input type="submit" class="btn" id="publish" value="Publish">
</form>

<%- include('partials/footer') %>
